<div [ngClass]="'wrap'">
  <div [ngClass]="'header'"></div>
  <div [ngClass]="'main-body'">
  <div [ngClass]="'filter-container'">
    <label>
      <select #selCategory (change)="getSelectedCategory()">
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
    </label>
    <label>
      <select #selCity (change)="getSelectedCity()">
        <option *ngFor="let city of cities">{{city.name}}</option>
      </select>
    </label>
    <div>
      <label><input (keyup)="getStartPrice($event)">Start Price</label>
      <label><input (keyup)="getEndPrice($event)">End Price</label>
    </div>
    <div>
    <input type="date" [ngModel]="startDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="filter.startRent = startDateRent = $event">
    <input type="date" [ngModel]="endDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="filter.endRent = endDateRent = $event">
    </div>
    <div><button (click)="findCarsByFilter()">SEARCH</button></div>
  </div>
    <div [ngClass]="'map-container'">MAP</div>
  <div [ngClass]="'car-container'">
    <div [ngClass]="'car-box'" *ngFor="let car of cars" (click)="goTo('car-details', car)">
      <div>{{car.photoUrlPreview}}</div>
      <div>{{car.model}}</div>
      <div>{{car.rentPrice}}</div>
      <div>{{car.yearIssue}}</div>
      <div>{{car.city}}</div>
    </div>
  </div>
  </div>
  <div [ngClass]="'footer'"></div>
</div>
