.car-container{
  width: 100vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
}
.filter-container{
  width: 20vw; height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap column;
  border: 1px solid black;
}
.map-container{
  width: 400px; height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: wrap column;
  border: 1px solid black;
}
.car-box{
  width: 200px; height: 200px;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}
