
:host {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

h1, h2{
  margin: 8px 0;
}

p {
  margin: 0;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.container {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: row;
  justify-content: space-between;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}
table{
  border-collapse: collapse;
  border: 0.5px solid black;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  min-height: 40px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 24px;
}
.car {
  width: 65%;
}
.filter {
  width: 35%;
  justify-content: start;
}
h2 span{
  color: grey;
  font-size: 14px;
}
.car_images {
  display: flex;
  flex-flow: column;
}
.car h2 {
  align-self: start;
}
h3 {
  color: #c2c3c4;
  font-size: 20px;
  font-weight: 600;
  align-self: start;
}
.filter span{
  align-self: start;
}
.car_image_full {
  width: 100%;
}
.car_images_prewies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 75px;
  justify-content: space-between;
}
.car_images_prewies img{
  margin: 5px;
}
.car_details{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail_item{
  display: flex;
  align-items: center;
  margin: 15px;
}
select {
  font-size: 120%;
  width: 100%;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}
button {
  background-color: darkgray;
  display: inline-block;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  width: 100%;
  user-select: none;
  margin: 20px 0;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 5px;
  transition: 0.2s;
}
button:hover { background: #333333; }
button:active { background: gray; }

.notes{
  width: 100%;
  min-height: 80px;
  border: 1px solid #c2c3c4;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}








