<!--<br>-->

<!--<div class="container">-->
<!--  <div class="card shadow">-->
<!--    <br>-->
<!--    <h1 class="text-center">App component</h1>-->
<!--    <router-outlet ></router-outlet>-->
<!--    <br>-->
<!--  </div>-->
<!--</div>-->

<!--<app-home-page></app-home-page>-->
<router-outlet></router-outlet>
