<div [ngClass]="'wrap'">
  <div [ngClass]="'header'"></div>
  <div [ngClass]="'main-body'">
  <div [ngClass]="'car-body'"> HERE MUST BE DATA BY CAR</div>
  </div>
  <div [ngClass]="'footer'"></div>
</div>
