<div [ngClass]="'wrap'">
  <div [ngClass]="'header'"></div>
  <div [ngClass]="'main-search-container'">
<div [ngClass]="'search-container'">
  <select #sel [ngClass]="'city-sel'" (change)="getSelectedCity()">
    <option *ngFor="let city of cities">{{city.name}}</option>
  </select>
  <input type = "date" [ngModel]="startDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="filter.startRent = startDateRent = $event"/>
  <input type = "date" [ngModel]="endDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="filter.endRent = endDateRent = $event" />
  <button (click)="goTo('filter-page')">SEARCH</button>
</div>

  <div [ngClass]="'search-container'">
    <select #sel1 [ngClass]="'city-sel'" (change)="getSelectedCar()">
      <option *ngFor="let number of carsNumber">{{number}}</option>
    </select>
    <input type = "date" [ngModel]="startDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="startDateRent = $event"/>
    <input type = "date" [ngModel]="endDateRent | date: 'yyyy-MM-dd'" (ngModelChange)="endDateRent = $event" />
    <div>
      <button (click)="addRentDates()">ADD</button>
      <button (click)="getRentDatesByCar()">SHOW</button>
    </div>
  </div>
  <div [ngClass]="'table-container'">
    <table>
      <tr *ngFor="let rentDate of rentDates"><td>{{rentDate.startRent}}</td><td>{{rentDate.endRent}}</td></tr>
    </table>
  </div>
  <div [ngClass]="'search-container'">
    <input (keyup)="onKey($event)">
    <button (click)="addCity()">ADD CITY</button>
  </div>
    <button (click)="goToPage('car-details')" >car A111AA details page</button>
    <div [ngClass]="'search-container'">
<!--    <input (keyup)="onKey($event)">-->
    <button (click)="sendComment()">SEND COMMENT</button>
  </div>
  </div>
  <div [ngClass]="'footer'"></div>
</div>

