.main-search-container{
  width: 100vw; height: 90vh;
  background-color: burlywood;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-content: center;
}
.search-container{
  width: 60vw; height: 10vh;
  background-color: aquamarine;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}
.table-container{
  width: 60vw;
  background-color: beige;
  border: 1px solid black;
}
.city-sel{
  width: 100px;
}
