<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Wheels</a>

  <!-- Search -->
  <form class="form-inline" action="/">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>


  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Share your car</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="Find a car">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="Learn more">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Log in</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Sign up</a>
    </li>
  </ul>
</nav>

<div>
  <img src="sample.jpg" class="rounded" alt="Photo">
  <form>
    <select name="City" class="custom-select">
      <option selected>City</option>
      <option value="Tel Aviv">Tel Aviv</option>
      <option value="Haifa">Haifa</option>
      <option value="Yokneam Ilit">Yokneam Ilit</option>
    </select>

    <div class="form-group row">
    <label for="example-dateFrom-input" class="col-2 col-form-label">Date From</label>
      <div class="col-10">
       <input class="form-control" type="date" value="2020-09-20" id="example-dateFrom-input">
      </div>
      <label for="example-dateTo-input" class="col-2 col-form-label">Date To</label>
      <div class="col-10">
        <input class="form-control" type="date" value="2020-09-21" id="example-dateTo-input">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Serach</button>
  </form>
</div>

