/* You can add global styles to this file, and also import other style files */
*{margin: 0}
.wrap{
  position: absolute;
  width: 100vw; height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;

  font-family: "Comic Sans MS";
  font-size: 2vh;
}
.main-body{
  width: 100vw; height: 90vh;

  display: flex;
  align-items: flex-start;
  flex-flow: wrap row;
}
.header{
  height: 8vh; width: 100vw;
  background-color: #1976d2;
}
.footer{
  height: 5vh; width: 100vw;
  background-color: #1976d2;
}
